.Rproj.user
.Rhistory
.RData
.Ruserdata
EST
.DS_Store
flare_tempdir/*
forecasts/*
data_raw/*
data_processed/*
drivers/*
targets/*
wss_aoi_2021-12-02_12-24-04
Shape
wss_aoi_2021-12-02_14-40-00
restart/*
automation/bvre.log
BVRE-forecast-code.Rproj
analysis/figures/*
analysis/summary_files/*
