.Rproj.user
.Rhistory
.RData
.Ruserdata
data_raw
flare_tempdir
EST
.DS_Store
forecast_output
forecasted_drivers
data_processed
data_processed/observations_postQAQC_long.csv
fcr2020.RData
localfile.nc
forecasted_drivers/NOAAGEFS_1hr/bvre